.App {
  text-align: center;
  background-size: cover;
  background-image: url(assets/wave-haikei.svg);
  height: 97.9vh;
  width: 100vw;
  /*background-color: #282c34;*/
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Contents{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*background-image: url(assets/circle-scatter-haikei.svg);
  background-size: cover;*/
}

.Container{
  text-align: center;
  margin: auto;
  width: 70vw;
}

.App-link {
  color: #61dafb;
}

.H1{
  color: #334A52;
  font-family: sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
